<p id="notice"><%= notice %></p>

<h1>All Tasks</h1>

<div class="row">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2">
        <%= link_to 'New Task', new_task_path, class: 'btn btn-light' %>
      </div>
      <div class="offset-md-7 col-md-3">

        <%= @button.button %>
      </div>
    </div>
  </div>
</div>
<table class="table">
  <thead>
  <tr>
    <th>Title</th>
    <th>Description</th>
    <th>User</th>
    <th>Status</th>
  </tr>
  </thead>

  <tbody>
  <% @tasks.each do |task| %>
    <tr>
      <td><%= link_to task.title, task %></td>
      <td><%= task.description %></td>
      <td><%= task.task_user %></td>
      <td><%= task.status %></td>
    </tr>
  <% end %>
  </tbody>
</table>
