<p id="notice"><%= notice %></p>

<h1>Me</h1>
<%= @current_user.as_json %>

<h1>My Tasks</h1>

<table class="table">
  <thead>
    <tr>
      <th>Title</th>
      <th>Description</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to task.title, task %></td>
        <td><%= task.description %></td>
        <td><%= task.status %></td>
        <td><%= link_to 'Close task', close_task_path(task.id), class: 'btn btn-sm btn-light', method: :post %></td>
      </tr>
    <% end %>
  </tbody>
</table>